.card__header {
	padding-bottom: 12px;
	margin-bottom: 8px;
	border-bottom: 1px solid var(--separator_common);
}

.card__status {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__headline {
	margin-bottom: 4px;
}

.card__caption {
	color: var(--text_subhead);
}

.card__action {
	margin-left: 0;
	padding-left: 0;
}
